<!--Page to instruct users on how to reset their password. This feature is not functional in this build-->
{% extends 'base.html' %}
{% block resetPassword %}
<style>
    .center-block {margin: auto; display: block;}
    form          { display: table;}
    p             { display: table-row;}
    label         { display: table-cell;  text-align: right;}
    a             { display: table-cell;  text-align: left;}
    input         { display: table-cell;}
</style>
<body>
<h1>Reset Password</h1>
<p>Please enter your email address. You will receive a message with instructions on how to reset your password.</p> <br>
<form method="post">
    <p>
        <!--Enter email-->
        <label for="email">Email:&emsp;</label>
        <input id="email" type="text"> <br> <br>
    </p>
    <p>
        <!--Buttons to submit/cancel operation-->
        <label for="blank"></label>
        <input type="submit" name= "submit" value="Submit"> &nbsp;
        <input type="submit" name= "cancel" value="Cancel">
    </p>
</form>
</body>
{% endblock %}